@model Lanchonete.Models.Combo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>VocÊ realmente deseja excluir esse combo?</h3>
<div>
    <h4>Combo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lanche)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lanche.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acompanhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acompanhamento.nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bebida.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista de combos</a>
    </form>
</div>
